body {
    /* font-family: 'Young Serif',sans-serif;
    background-color: #ffffff;
    -webkit-text-fill-color: rgb(58, 55, 45) */
  background-image: url("bg.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  h1{
    font-family: 'Young Serif', sans-serif;
  }
  .container {
    padding: 50px;
    width: 70%;
    margin: 0 auto;
      background-image: url("images/bgimg2.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: azure;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 5px;
    background-color: #181818; 
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button.registerbtn {
    background-color: #090455;
    color: white;
    padding: 16px 300px;
    margin-top: 10px;
    margin-left: 240px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-emphasis-color: black
  }
  
  button.registerbtn:hover {
    opacity: 0.9;
  }
  
  .center {
    text-align: center;
  }
  
  /* Add this style for the phone input container */
  .phone-input {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  /* Add this style for the phone input select */
  .phone-input select {
    flex: 1; /* Take up available space */
    padding: 10px;
    border: 1px solid #181818;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 5px; /* Add some spacing between select and input */
  }
  
  /* Add this style for the phone input text box */
  .phone-input input[type="tel"] {
    flex: 3; /* Take up more space */
    padding: 10px;
    border: 1px solid #181818;
    border-radius: 15px;
    margin-top: 5px;
  }
  .error-message {
    color: red;
    font-size: 14px;
  }
  h1{
    color: azure;
  }